.main{
  grid-area: m;
  background-color: #e1bc00;
  border-radius: 1rem;
}
.image{
  width: 100%;
}

.image img{
  width: 100%;
  aspect-ratio: 6/1;
  border-radius: 1rem 1rem 0 0;
}

.post{
  color: greenyellow;
}

.avaDescription{

}