.post {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;

  /*border: 1px solid #232323;*/
  background-color: #D7D7D7E7;
  border-radius: 1rem;

  margin: .7rem 0 .7rem;
  padding: .5rem;
}

.text {
  color: #303030;
  font-size: 1.2vw;
  font-weight: 600;
}

.post img {
  width: 5vw;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}

.likes {
  position: absolute;
  top: 0;
  right: 0;
  margin: .3rem .5rem;
  padding: 0 .5rem;
}

.likeBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: .3rem .5rem;
  padding: .4rem;

  color: #00aab0;
  font-size: 1.4vh;
  border-radius: 1rem;
  border: none;
}