.App{
  display: grid;

  grid-template-areas: "h h" "s m";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  width: 80vw;
  height: 90vh;
  margin: 0 auto;

  font-size: 20px;
  color: #232323;
}
.app-content{
  grid-area: m;
  background-color: #e1bc00;
  border-radius: 1rem;
}